body{
    margin:0px;
    background-color:white ;
    color:rgb(72, 71, 71);
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
  }
  
  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: rgb(139, 139, 139);
  }

h2{
    color:red;
    text-align: center;
}

#newMessage{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(72, 71, 71)fff;
    display: flex;
    justify-content: space-between;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(139, 139, 139);
  }