<%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%>
    <h1>This is your profile</h1>
    <h4>Username: <%= username %></h4>
    <a href="/changepass">Change Passowrd</a>
</body>
</html>
<%- include('../partials/footer')%>